# Ignore all
*

# Unignore directories
!*/

# Unignore source code files
!**/*.c
!**/*.h
!**/*.go
!**/*.mod
!**/makefile

# Unignore other usefull stuff
!.gitignore
#!**/.vscode/
!**/.vscode/*
#!**/.idea/
!**/.idea/*
#!**/.exercism/
!**/.exercism/*
!**/*.csv
!**/*.md
#!**/*.json
