# Ignore all
*

# Unignore directories
!*/

# Unignore source code files
!**/*.c
!**/*.h
!**/*.go
!**/*.js
!**/*.mod
!**/makefile

# Unignore other usefull stuff
!**/.gitignore
!**/.eslintrc
!**/.npmrc
!**/.vscode/*
!**/.idea/*
!**/.exercism/*
!**/*.csv
!**/*.md
!**/*.json
